In [1]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import math
import numpy as np
data=pd.read_csv(r'C:\Users\ankitha\medicine.csv')

In [2]:
data

,Unnamed: 0,Drug_Name,Reason,Description
0,0,A CN Gel(Topical) 20gmA CN Soap 75gm,Acne,Mild to moderate acne (spots)
1,1,A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...,Acne,A RET 0.025% is a prescription medicine that i...
2,2,ACGEL CL NANO Gel 15gm,Acne,It is used to treat acne vulgaris in people 12...
3,3,ACGEL NANO Gel 15gm,Acne,It is used to treat acne vulgaris in people 12...
4,4,Acleen 1% Lotion 25ml,Acne,treat the most severe form of acne (nodular ac...
...,...,...,...,...
22462,22476,T Muce Ointment 5gm,Wound,used for treating warts
22463,22477,Wokadine 10% Solution 100mlWokadine Solution 5...,Wound,used to soften the skin cells
22464,22478,Wokadine M Onit 10gm,Wound,used for scars
22465,22479,Wound Fix Solution 100ml,Wound,used for wounds
22466,22480,Wounsol Ointment 15gm,Wound,used to treat and remove raised warts (usually...

In [3]:
data[data.duplicated(subset=['Drug_Name'],keep=False)]

,Unnamed: 0,Drug_Name,Reason,Description
7632,7646,Gefer Capsule 10'S,General,used for hygienic body
7663,7677,M Cold Plus CZ Tablet 10'S,General,heals cough
15680,15694,M Cold Plus CZ Tablet 10'S,Pain,"used to relieve abdominal pain, spasmodic dysm..."
19496,19510,Gefer Capsule 10'S,Supplement,"with cytoprotective effects, to help in the he..."

In [4]:
data['Drug_Name'].describe()

count                  22467
unique                 22465
top       Gefer Capsule 10'S
freq                       2
Name: Drug_Name, dtype: object

In [5]:
list1=['vikas','ankitha']

In [6]:
data["doctors"] = np.random.choice(list1, size=len(data))

In [7]:
data['age'] = np.random.randint(5, 80, data.shape[0])

In [8]:
data['count'] = np.random.randint(0, 30, data.shape[0])

In [9]:
data['count_doctor'] = np.random.randint(1, 20, data.shape[0])

In [10]:
data

,Unnamed: 0,Drug_Name,Reason,Description,doctors,age,count,count_doctor
0,0,A CN Gel(Topical) 20gmA CN Soap 75gm,Acne,Mild to moderate acne (spots),ankitha,77,19,17
1,1,A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...,Acne,A RET 0.025% is a prescription medicine that i...,ankitha,31,21,12
2,2,ACGEL CL NANO Gel 15gm,Acne,It is used to treat acne vulgaris in people 12...,vikas,61,6,15
3,3,ACGEL NANO Gel 15gm,Acne,It is used to treat acne vulgaris in people 12...,ankitha,66,7,12
4,4,Acleen 1% Lotion 25ml,Acne,treat the most severe form of acne (nodular ac...,vikas,67,17,6
...,...,...,...,...,...,...,...,...
22462,22476,T Muce Ointment 5gm,Wound,used for treating warts,vikas,11,8,17
22463,22477,Wokadine 10% Solution 100mlWokadine Solution 5...,Wound,used to soften the skin cells,ankitha,24,4,3
22464,22478,Wokadine M Onit 10gm,Wound,used for scars,ankitha,72,25,4
22465,22479,Wound Fix Solution 100ml,Wound,used for wounds,vikas,72,24,10
22466,22480,Wounsol Ointment 15gm,Wound,used to treat and remove raised warts (usually...,ankitha,51,21,16

In [33]:
data.to_csv('drugs.csv')

In [22]:
list1=process.extract('fever', data['Description'].to_list(), limit = 1)

In [23]:
list1

[('short-term treatment of fever', 90)]

In [24]:
list2=[]
for i in list1:
    for j in i:
        if(type(j) == str):
            list2.append(j)
res = []
for i in list2:
    if i not in res:
        res.append(i)     
data1=data[data['Description'].isin(res)]

In [25]:
data1

,Unnamed: 0,Drug_Name,Reason,Description,doctors,age,count,count_doctor
6519,6533,1000 Para 1000mg Tablet 12'S,Fever,short-term treatment of fever,vikas,54,24,17
6520,6534,Aalcetamol 1000mg Infusion 100ml,Fever,short-term treatment of fever,ankitha,36,26,15
6521,6535,ACETO 250mg Syrup 60ml,Fever,short-term treatment of fever,vikas,40,24,10
6522,6536,Agpar 125mg Suspension 450ml,Fever,short-term treatment of fever,ankitha,19,10,3
6523,6537,ALGINA 500MG TABLET 10'S,Fever,short-term treatment of fever,ankitha,77,9,19
6524,6538,AMIDOL Tablet 10's,Fever,short-term treatment of fever,ankitha,45,25,6
6525,6539,Anaflam P Suspension 100ml,Fever,short-term treatment of fever,ankitha,12,17,4
6526,6540,Anglopar 125mg Drops 15mlAnglopar 500mg Tablet...,Fever,short-term treatment of fever,vikas,77,0,10
6527,6541,Babygesic 250mg Syrup 60mlBabygesic 125mg Syru...,Fever,short-term treatment of fever,vikas,23,28,2
6528,6542,Bestogesic Fast 650mg Tablet 10'S,Fever,short-term treatment of fever,vikas,50,24,14
6529,6543,Biocetamol 60mg Syrup 60mlBiocetamol 100mg Dro...,Fever,short-term treatment of fever,vikas,68,29,15
6530,6544,Biopyrin 650mg Tablet 15'S,Fever,short-term treatment of fever,vikas,36,11,9
6531,6545,Brikamol 250mg Syrup 60ml,Fever,short-term treatment of fever,vikas,39,12,9
6532,6546,Brucet 400/333mg Tablet 3'S,Fever,short-term treatment of fever,vikas,18,25,13
6533,6547,Cachpar 500mg Tablet 10'S,Fever,short-term treatment of fever,ankitha,15,0,4
6534,6548,Calipar 250mg Syrup 60ml,Fever,short-term treatment of fever,vikas,66,3,11
6535,6549,Calpol 100mg Drops 15mlCalpol 650mg Tablet 10'...,Fever,short-term treatment of fever,vikas,65,19,18
6542,6556,Coldmine Syrup 60ml,Fever,short-term treatment of fever,ankitha,45,28,19

In [34]:
maximum_count_wholedoctor=data1['count'].max()

In [39]:
maximum_count_wholedoctor

29

In [35]:
data2=data1[data1['doctors'].str.contains('vikas')]

In [42]:
data2

,Unnamed: 0,Drug_Name,Reason,Description,doctors,age,count,count_doctor
6519,6533,1000 Para 1000mg Tablet 12'S,Fever,short-term treatment of fever,vikas,54,24,17
6521,6535,ACETO 250mg Syrup 60ml,Fever,short-term treatment of fever,vikas,40,24,10
6526,6540,Anglopar 125mg Drops 15mlAnglopar 500mg Tablet...,Fever,short-term treatment of fever,vikas,77,0,10
6527,6541,Babygesic 250mg Syrup 60mlBabygesic 125mg Syru...,Fever,short-term treatment of fever,vikas,23,28,2
6528,6542,Bestogesic Fast 650mg Tablet 10'S,Fever,short-term treatment of fever,vikas,50,24,14
6529,6543,Biocetamol 60mg Syrup 60mlBiocetamol 100mg Dro...,Fever,short-term treatment of fever,vikas,68,29,15
6530,6544,Biopyrin 650mg Tablet 15'S,Fever,short-term treatment of fever,vikas,36,11,9
6531,6545,Brikamol 250mg Syrup 60ml,Fever,short-term treatment of fever,vikas,39,12,9
6532,6546,Brucet 400/333mg Tablet 3'S,Fever,short-term treatment of fever,vikas,18,25,13
6534,6548,Calipar 250mg Syrup 60ml,Fever,short-term treatment of fever,vikas,66,3,11
6535,6549,Calpol 100mg Drops 15mlCalpol 650mg Tablet 10'...,Fever,short-term treatment of fever,vikas,65,19,18

In [43]:
maximun_count_doctor=data2['count_doctor'].max()

In [44]:
maximun_count_doctor

18

In [37]:
whole_doctor_count=data1[data1['count'] ==maximum_count_wholedoctor]

In [38]:
whole_doctor_count

,Unnamed: 0,Drug_Name,Reason,Description,doctors,age,count,count_doctor
6529,6543,Biocetamol 60mg Syrup 60mlBiocetamol 100mg Dro...,Fever,short-term treatment of fever,vikas,68,29,15

In [45]:
doctor_count=data2[data2['count_doctor'] ==maximun_count_doctor]

In [46]:
doctor_count

,Unnamed: 0,Drug_Name,Reason,Description,doctors,age,count,count_doctor
6535,6549,Calpol 100mg Drops 15mlCalpol 650mg Tablet 10'...,Fever,short-term treatment of fever,vikas,65,19,18

In [26]:
maximun_count_doctor=data1['count_doctor'].max()

In [27]:
maximum_count_wholedoctor=data1['count'].max()

In [28]:
data2=data1[data1['count'] ==maximum_count_wholedoctor]

In [29]:
data3=data1[data1['count_doctor']==maximun_count_doctor]

In [30]:
data3

,Unnamed: 0,Drug_Name,Reason,Description,doctors,age,count,count_doctor
6523,6537,ALGINA 500MG TABLET 10'S,Fever,short-term treatment of fever,ankitha,77,9,19
6542,6556,Coldmine Syrup 60ml,Fever,short-term treatment of fever,ankitha,45,28,19

In [31]:
data2=data2[data2['doctors'].str.contains('vikas')]

In [32]:
data2

,Unnamed: 0,Drug_Name,Reason,Description,doctors,age,count,count_doctor
6529,6543,Biocetamol 60mg Syrup 60mlBiocetamol 100mg Dro...,Fever,short-term treatment of fever,vikas,68,29,15

In [22]:
# Import label encoder
from sklearn import preprocessing
  
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'species'.

In [23]:
data['Drug_id']= label_encoder.fit_transform(data['Drug_Name'])

In [25]:
data.to_csv('drugs.csv')

In [46]:
list1=process.extract("cough", data['Description'].to_list(), limit = 1)
list2=[]
for i in list1:
    for j in i:
        if(type(j) == str):
            list2.append(j)
res = []
for i in list2:
    if i not in res:
        res.append(i)     

data1=data[data['Description'].isin(res)]
#data1.drop_duplicates(subset='Drug_Name')
data2=data1[data1['doctors'].str.contains("ankitha")]

In [47]:
data2

,Unnamed: 0,Drug_Name,Reason,Description,doctors
7555,7569,Abdifer Drops 15ml,General,heals cough,ankitha
7564,7578,Alite Face Wash 50gm,General,heals cough,ankitha
7573,7587,Avarta Anti Ageing Cream 50gm,General,heals cough,ankitha
7582,7596,Cetaphil Baby Shampoo 200ml,General,heals cough,ankitha
7600,7614,Cutiyt Total Cream 15gmCutiyt Total Cream 30gm,General,heals cough,ankitha
7618,7632,Ethiglo Face Wash 200gm,General,heals cough,ankitha
7663,7677,M Cold Plus CZ Tablet 10'S,General,heals cough,ankitha
7672,7686,Mesoestetic Lactic Peel AL 50% Gel 50mlMesoest...,General,heals cough,ankitha
7681,7695,MY FAIR Cream 20gm,General,heals cough,ankitha
7690,7704,Nt Age Cream 50gm,General,heals cough,ankitha
7726,7740,Sebamed Anti Hair Loss Shampoo 200 ml,General,heals cough,ankitha
7744,7758,SEBAMED HAIR REPAIR Conditioner 200ml,General,heals cough,ankitha
7753,7767,SOFTSCREEN NEW SPF 50+ MINERAL SUNSCREEN Gel 50gm,General,heals cough,ankitha
7762,7776,Sunhalt SPF 50+ Gel(Topical) 50gm,General,heals cough,ankitha
7771,7785,Trazogastro Infusion 100mlTrazogastro Infusion...,General,heals cough,ankitha

In [27]:
data2.drop(columns=['Unnamed: 0'],inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [35]:
data2

,Drug_Name,Reason,Description,doctors,age
7556,AC Rinz Face Wash 60ml,General,heals cold,ankitha,29
7583,CETAPHIL BABY GENTLE WASH AND Shampoo 230ml,General,heals cold,ankitha,32
7637,Glymed Soap 75gm,General,heals cold,ankitha,54
7673,Mesoestetic Melanostop Peel Gel 50ml,General,heals cold,ankitha,34
7754,Sper Optimum Sunscreen Lotion 60gm,General,heals cold,ankitha,21

In [46]:
duplicate = data[data.duplicated('Drug_Name')]

In [47]:
duplicate

,Unnamed: 0,Drug_Name,Reason,Description,doctors,age
15680,15694,M Cold Plus CZ Tablet 10'S,Pain,"used to relieve abdominal pain, spasmodic dysm...",raju,62
19496,19510,Gefer Capsule 10'S,Supplement,"with cytoprotective effects, to help in the he...",vikas,58